In [34]:
#limpio la memoria
rm( list=ls() )  #remove all objects
gc()             #garbage collection

       used    (Mb) gc trigger (Mb)  max used  (Mb)
Ncells  668438 35.7   1292120   69.1   1292120  69.1
Vcells 1461287 11.2 100333152  765.5 125395738 956.7

In [35]:
semilla <- 100019
set.seed(semilla)

In [36]:
#Feature Engineering
#creo nuevas variables dentro del mismo mes
#Condimentar a gusto con nuevas variables

require("data.table")

#Establezco el Working Directory
setwd("C:/_MCD/Labo1/code")  #Establezco el Working Directory

kcarpeta_datasets    <- "./datasets/"   #KAGGLE
#kcarpeta_datasets    <- "./buckets/b1/datasets/"                          #VM o Ubuntu

#Archivo con datos etiquetados para entrenamiento
karchivo_entrada      <-  paste0(kcarpeta_datasets, "competencia1_2022.csv")
karchivo_salida      <-  paste0(kcarpeta_datasets, "competencia1_2022_FE_monotonas.csv")



#lectura rapida del dataset  usando fread  de la libreria  data.table
dataset_orig  <- fread(karchivo_entrada)

In [37]:
EnriquecerDataset <- function( dataset )
{
  columnas_originales <-  copy(colnames( dataset ))


dataset[ , mv_status01       := pmax( Master_status,  Visa_status, na.rm = TRUE) ]


dataset[ , log_mrentabilidad								:= log(abs(mrentabilidad))]
dataset[ , log_mrentabilidad_annual							:= log(abs(mrentabilidad_annual))]
dataset[ , log_mcuentas_saldo							    := log(abs(mcuentas_saldo))]
dataset[ , log_ctarjeta_debito						        := log(abs(ctarjeta_debito))]
dataset[ , log_ctarjeta_debito_transacciones				:= log(abs(ctarjeta_debito_transacciones))]			
dataset[ , log_mprestamos_personales						:= log(abs(mprestamos_personales))]	
dataset[ , log_cprestamos_prendarios                        := log(abs(cprestamos_prendarios))]
dataset[ , log_cprestamos_hipotecarios                      := log(abs(cprestamos_hipotecarios))]
dataset[ , log_cseguro_auto                                 := log(abs(cseguro_auto))]
dataset[ , log_cseguro_vivienda                             := log(abs(cseguro_vivienda))]
dataset[ , log_cseguro_accidentes_personales                := log(abs(cseguro_accidentes_personales))]
dataset[ , log_cforex_buy                                   := log(abs(cforex_buy))]
dataset[ , log_cforex_sell                                  := log(abs(cforex_sell))]
dataset[ , log_matm                                         := log(abs(matm))]
dataset[ , log_catm_trx_other                               := log(abs(catm_trx_other))]
dataset[ , log_matm_other                                   := log(abs(matm_other ))]
dataset[ , log_Visa_mfinanciacion_limite                    := log(abs(Visa_mfinanciacion_limite))]
dataset[ , log_Visa_Fvencimiento                            := log(abs(Visa_Fvencimiento))]
dataset[ , log_Visa_Finiciomora                             := log(abs(Visa_Finiciomora))]
dataset[ , log_Visa_msaldototal                             := log(abs(Visa_msaldototal ))]
dataset[ , log_Visa_mlimitecompra 							:= log(abs(Visa_mlimitecompra ))]
dataset[ , log_Master_mlimitecompra							:= log(abs(Master_mlimitecompra ))]
dataset[ , sqrt_mrentabilidad								:= sqrt(abs(mrentabilidad))]
dataset[ , sqrt_mrentabilidad_annual						:= sqrt(abs(mrentabilidad_annual))]
dataset[ , sqrt_mcuentas_saldo                              := sqrt(abs(mcuentas_saldo))]
dataset[ , sqrt_ctarjeta_debito                             := sqrt(abs(ctarjeta_debito))]
dataset[ , sqrt_ctarjeta_debito_transacciones               := sqrt(abs(ctarjeta_debito_transacciones))]
dataset[ , sqrt_mprestamos_personales                       := sqrt(abs(mprestamos_personales))]
dataset[ , sqrt_cprestamos_prendarios                       := sqrt(abs(cprestamos_prendarios))]
dataset[ , sqrt_cprestamos_hipotecarios                     := sqrt(abs(cprestamos_hipotecarios))]
dataset[ , sqrt_cseguro_auto                                := sqrt(abs(cseguro_auto))]
dataset[ , sqrt_cseguro_vivienda                            := sqrt(abs(cseguro_vivienda))]
dataset[ , sqrt_cseguro_accidentes_personales               := sqrt(abs(cseguro_accidentes_personales))]
dataset[ , sqrt_cforex_buy                                  := sqrt(abs(cforex_buy))]
dataset[ , sqrt_cforex_sell                                 := sqrt(abs(cforex_sell))]
dataset[ , sqrt_matm                                        := sqrt(abs(matm))]
dataset[ , sqrt_catm_trx_other                              := sqrt(abs(catm_trx_other))]
dataset[ , sqrt_matm_other                                  := sqrt(abs(matm_other))]
dataset[ , sqrt_Visa_mfinanciacion_limite                   := sqrt(abs(Visa_mfinanciacion_limite))]
dataset[ , sqrt_Visa_Fvencimiento                           := sqrt(abs(Visa_Fvencimiento))]
dataset[ , sqrt_Visa_Finiciomora                            := sqrt(abs(Visa_Finiciomora))]
dataset[ , sqrt_Visa_msaldototal                            := sqrt(abs(Visa_msaldototal))]
dataset[ , sqrt_Visa_mlimitecompra                          := sqrt(abs(Visa_mlimitecompra))]
dataset[ , sqrt_Master_mlimitecompra			            := sqrt(abs(Master_mlimitecompra))]
    
    columnas_extendidas <-  copy( setdiff(  colnames(dataset), columnas_originales ) )

    return (dataset)
}
#------------------------------------------------------------------------------
dataset_enriq <- EnriquecerDataset( dataset_orig )

In [38]:
as.data.table(sapply(dataset_enriq[, list(mttarjeta_visa_debitos_automaticos)], sample, 10))

   mttarjeta_visa_debitos_automaticos
1   2613.97
2   2985.28
3  10085.93
4   4852.26
5  36830.10
6   6014.69
7  10374.01
8      0.00
9      0.00
10 46233.12

In [39]:
  #grabo con nombre extendido
  fwrite( dataset_enriq,
          file=karchivo_salida,
          sep= "," )