In [1]:
#limpio la memoria
rm( list=ls() )  #remove all objects
gc()             #garbage collection

require("data.table")

       used    (Mb) gc trigger (Mb) max used (Mb)
Ncells  613849 32.8 1330087    71.1 1131053  60.5
Vcells 1149316  8.8 8388608    64.0 1801055  13.8

Loading required package: data.table

In [2]:
#setwd("C:/_MCD/Labo1/code")  #Establezco el Working Directory
setwd("~/buckets/b1/")

#cargo el dataset
dataset  <- fread("./datasets/competencia2_2022.csv.gz")   #donde entreno

In [3]:
nrow(dataset)

[1] 4214386

In [4]:
CorregirCampoMes  <- function( pcampo, pmeses )
{
  tbl <- dataset[  ,  list( "v1" = shift( get(pcampo), 1, type="lag" ),
                            "v2" = shift( get(pcampo), 1, type="lead" )
  ), 
  by=numero_de_cliente ]
  
  tbl[ , numero_de_cliente := NULL ]
  tbl[ , promedio := rowMeans( tbl,  na.rm=TRUE ) ]
  
  dataset[ ,
           paste0(pcampo) := ifelse( !(foto_mes %in% pmeses),
                                     get( pcampo),
                                     tbl$promedio ) ]
}

In [5]:
#------------------------------------------------------------------------------
# reemplaza cada variable ROTA  (variable, foto_mes)  con el promedio entre  ( mes_anterior, mes_posterior )

Corregir_EstadisticaClasica  <- function( dataset )
{
  CorregirCampoMes( "active_quarter", c(202006) )    
    
  CorregirCampoMes( "mrentabilidad", c(201905, 201910, 202006) )
  CorregirCampoMes( "mrentabilidad_annual", c(201905, 201910, 202006) )
  CorregirCampoMes( "mcomisiones", c(201905, 201910, 202006) )
  CorregirCampoMes( "mactivos_margen", c(201905, 201910, 202006) )
  CorregirCampoMes( "mpasivos_margen", c(201905, 201910, 202006) )
    
  CorregirCampoMes( "mcuentas_saldo", c(202006) )
    
  CorregirCampoMes( "ctarjeta_debito_transacciones", c(202006) )
  CorregirCampoMes( "mautoservicio", c(202006) )
    
  CorregirCampoMes( "ctarjeta_visa_transacciones", c(202006) )
  CorregirCampoMes( "mtarjeta_visa_consumo", c(202006) )
    
  CorregirCampoMes( "ctarjeta_master_transacciones", c(202006) )
  CorregirCampoMes( "mtarjeta_master_consumo", c(202006) )

  CorregirCampoMes( "ctarjeta_visa_debitos_automaticos", c(201904) )
  CorregirCampoMes( "mttarjeta_visa_debitos_automaticos", c(201904) )

  CorregirCampoMes( "cpagodeservicios", c(201901,201902,201903,201904,201905) )
  CorregirCampoMes( "mpagodeservicios", c(201901,201902,201903,201904,201905) ) 
  CorregirCampoMes( "cpagomiscuentas", c(201901,201902,201903,201904,201905) ) 
  CorregirCampoMes( "mpagomiscuentas", c(201901,201902,201903,201904,201905) )     
    
  CorregirCampoMes( "ccomisiones_mantenimiento", c(201901) )
  CorregirCampoMes( "mcomisiones_mantenimiento", c(201901) )    
  CorregirCampoMes( "ccomisiones_otras", c(201905, 201910, 202006) )
  CorregirCampoMes( "mcomisiones_otras", c(201905, 201910, 202006) )  

  CorregirCampoMes( "ctransferencias_recibidas", c(201901,201902,201903,201904,201905) )
  CorregirCampoMes( "mtransferencias_recibidas", c(201901,201902,201903,201904,201905) )
  
  CorregirCampoMes( "cextraccion_autoservicio", c(202006) )
  CorregirCampoMes( "mextraccion_autoservicio", c(202006) )    
  CorregirCampoMes( "ccheques_depositados", c(202006) )
  CorregirCampoMes( "mcheques_depositados", c(202006) )
  CorregirCampoMes( "mcheques_emitidos", c(202006) )
  CorregirCampoMes( "mcheques_emitidos", c(202006) )
  CorregirCampoMes( "ccheques_depositados_rechazados", c(202006) )
  CorregirCampoMes( "mcheques_depositados_rechazados", c(202006) )
  CorregirCampoMes( "ccheques_emitidos_rechazados", c(202006) )
  CorregirCampoMes( "mcheques_emitidos_rechazados", c(202006) )       
  CorregirCampoMes( "tcallcenter", c(202006) )
  CorregirCampoMes( "ccallcenter_transacciones", c(202006) )    
  CorregirCampoMes( "thomebanking", c(202006) )
  CorregirCampoMes( "chomebanking_transacciones", c( 201910, 202006) )
  CorregirCampoMes( "ccajas_transacciones", c(202006) )
  CorregirCampoMes( "ccajas_consultas", c(202006) )
  CorregirCampoMes( "ccajas_depositos", c(202006) )
  CorregirCampoMes( "ccajas_extracciones", c(202006) )
  CorregirCampoMes( "ccajas_otras", c(202006) )
  CorregirCampoMes( "catm_trx", c(202006) )
  CorregirCampoMes( "matm", c(202006) )
  CorregirCampoMes( "catm_trx_other", c(202006) )
  CorregirCampoMes( "matm_other", c(202006) )
    
  CorregirCampoMes( "Master_mfinanciacion_limite", c(201904,202104) )
    
  CorregirCampoMes( "Master_fultimo_cierre", c(201907,202009) )

  CorregirCampoMes( "Master_mpagado", c(202012) )

 CorregirCampoMes( "Visa_mfinanciacion_limite", c(201904) )
       
  CorregirCampoMes( "Visa_fultimo_cierre", c(201907,202009) )
  CorregirCampoMes( "Visa_mpagado", c(202012) )   
}

In [6]:
#Elimino los campos problematicos
dataset[  , internet := NULL ]
dataset[  , tmobile_app := NULL ]
dataset[  , cmobile_app_trx := NULL ]

#Ordeno para imputar correctamente
setorder( dataset, numero_de_cliente, foto_mes )

Corregir_EstadisticaClasica( dataset )

In [7]:
fwrite( dataset,
        file="./datasets/competencia2_2022_reparacEstad.csv.gz",
        logical01= TRUE,
        sep= "," )

In [8]:
dataset[numero_de_cliente %in% c(35293777),list(numero_de_cliente,foto_mes,mrentabilidad)]

   numero_de_cliente foto_mes mrentabilidad
1  35293777          201901   1815.970
2  35293777          201902   2057.520
3  35293777          201903   3523.220
4  35293777          201904   2875.250
5  35293777          201905   3475.750
6  35293777          201906   4076.250
7  35293777          201907   2458.970
8  35293777          201908   2785.570
9  35293777          201909   2909.840
10 35293777          201910   2855.985
11 35293777          201911   2802.130
12 35293777          201912   2911.970
13 35293777          202001    620.760
14 35293777          202002    651.140
15 35293777          202003   1801.240
16 35293777          202004   1851.330
17 35293777          202005   1864.130
18 35293777          202006   1658.060
19 35293777          202007   1451.990
20 35293777          202008   1429.950
21 35293777          202009   2183.110
22 35293777          202010   2170.350
23 35293777          202011   2132.860
24 35293777          202012   2221.570
25 35293777          202101   1031.330
26 35293777          202102   1695.460
27 35293777          202103   2351.710
28 35293777          202104   3508.990
29 35293777          202105   3623.180