In [1]:
#limpio la memoria
rm( list=ls() )  #remove all objects
gc()             #garbage collection

require("data.table")

       used    (Mb) gc trigger (Mb) max used (Mb)
Ncells  604536 32.3 1292120    69.1 1292120  69.1
Vcells 1086934  8.3 8388608    64.0 1632674  12.5

Loading required package: data.table

In [12]:
setwd("C:/_MCD/Labo1/code")  #Establezco el Working Directory

#cargo el dataset
dataset  <- fread("./datasets/competencia2_2022.csv.gz")   #donde entreno

In [3]:
dataset[numero_de_cliente %in% c(35293777),list(numero_de_cliente,foto_mes,ctrx_quarter)]

   numero_de_cliente foto_mes ctrx_quarter
1  35293777          201901   21
2  35293777          201902   23
3  35293777          201903   22
4  35293777          201904   24
5  35293777          201905   24
6  35293777          201906   23
7  35293777          201907   24
8  35293777          201908   23
9  35293777          201909   24
10 35293777          201910   24
11 35293777          201911   30
12 35293777          201912   32
13 35293777          202001   34
14 35293777          202002   27
15 35293777          202003   25
16 35293777          202004   28
17 35293777          202005   32
18 35293777          202006   24
19 35293777          202007   33
20 35293777          202008   34
21 35293777          202009   35
22 35293777          202010   35
23 35293777          202011   37
24 35293777          202012   43
25 35293777          202101   52
26 35293777          202102   54
27 35293777          202103   59
28 35293777          202104   57
29 35293777          202105   71

In [11]:
CorregirCampoMes  <- function( pcampo, pmeses )
{
  tbl <- dataset[  ,  list( "v_ant" = shift( get(pcampo), 1, type="lag" ),
                            "v_post" = shift( get(pcampo), 1, type="lead" ),
                            "v_foto_mes" = get("foto_mes"),
                            "v_orig" = get(pcampo)
                         ), 
                   by=numero_de_cliente ]
  
  tbl[ , promedio := ifelse(is.na(v_ant),v_post,ifelse(is.na(v_post),v_ant,(v_ant+v_post)/2)) ]
  tbl[ , nuevo_valor := ifelse(v_foto_mes %in% pmeses,promedio,v_orig)]
  
    keycol1 <-c("numero_de_cliente","v_foto_mes")
    setorderv(tbl, keycol1)  
  
      keycol2 <-c("numero_de_cliente","foto_mes")
    setorderv(dataset, keycol2)  
  
    
  dataset[ ,
           paste0(pcampo) := tbl$nuevo_valor ]
}

In [13]:


#CorregirCampoMes( "catm_trx_other", c(202006) )
  #CorregirCampoMes( "matm_other", c(202006) )
  CorregirCampoMes( "ctrx_quarter", c(202006) )
  #CorregirCampoMes( "Visa_fultimo_cierre", c(201907,202009) )


dataset[numero_de_cliente %in% c(35293777),list(numero_de_cliente,foto_mes,ctrx_quarter)]

   numero_de_cliente foto_mes ctrx_quarter
1  35293777          201901   21.0
2  35293777          201902   23.0
3  35293777          201903   22.0
4  35293777          201904   24.0
5  35293777          201905   24.0
6  35293777          201906   23.0
7  35293777          201907   24.0
8  35293777          201908   23.0
9  35293777          201909   24.0
10 35293777          201910   24.0
11 35293777          201911   30.0
12 35293777          201912   32.0
13 35293777          202001   34.0
14 35293777          202002   27.0
15 35293777          202003   25.0
16 35293777          202004   28.0
17 35293777          202005   32.0
18 35293777          202006   32.5
19 35293777          202007   33.0
20 35293777          202008   34.0
21 35293777          202009   35.0
22 35293777          202010   35.0
23 35293777          202011   37.0
24 35293777          202012   43.0
25 35293777          202101   52.0
26 35293777          202102   54.0
27 35293777          202103   59.0
28 35293777          202104   57.0
29 35293777          202105   71.0

In [6]:
dataset[foto_mes==202006,list(numero_de_cliente,ctrx_quarter)]

       numero_de_cliente ctrx_quarter
1      31115668          132
2      31115678          147
3      31117415          151
4      31117711          171
5      31118145          171
6      31118204          162
7      31118490          140
8      31118757          131
9      31119221          130
10     31120000          135
11     31121511          140
12     31121767          146
13     31121915          145
14     31121955          149
15     31122280          154
16     31122330          172
17     31124935          167
18     31124994          166
19     31125152          140
20     31125675          129
21     31126406          128
22     31126732          104
23     31127107          110
24     31127630           94
25     31127719           86
26     31127797           88
27     31127857           91
28     31127916          108
29     31128913          100
30     31130206          102
⋮      ⋮                 ⋮
152683 204990831          96.0
152684 204991434         106.0
152685 205003435          73.0
152686 205008202          88.0
152687 205010581          82.0
152688 205015249          80.0
152689 205053553          65.0
152690 205072670          69.0
152691 205088916          72.0
152692 205089389          79.0
152693 205099535          70.0
152694 205104776          76.0
152695 205106375          74.0
152696 205107865          82.0
152697 205112001          76.0
152698 205157569          88.0
152699 205166047          84.0
152700 205174969          84.0
152701 205178690          69.0
152702 205184552          66.5
152703 205192389          64.0
152704 205307182          60.0
152705 205307735          62.0
152706 205376082          62.0
152707 205376782          62.0
152708 205380335          59.0
152709 205396324          63.0
152710 205518401          78.0
152711 205539897          74.0
152712 205540223          72.0

In [7]:
dataset[foto_mes %in% c(202005,202007),list(prom=mean(ctrx_quarter,na.rm=TRUE)), by=foto_mes]

  foto_mes prom
1 202005   114.237
2 202007   114.078

In [8]:
pcampo <- "ctrx_quarter"
pmeses <- c(202006)
 tbl <- dataset[  ,  list( "v_ant" = shift( get(pcampo), 1, type="lag" ),
                            "v_post" = shift( get(pcampo), 1, type="lead" ),
                            "v_foto_mes" = get("foto_mes"),
                            "v_orig" = get(pcampo)
                         ), 
                   by=numero_de_cliente ]
  
  tbl[ , promedio := ifelse(is.na(v_ant),v_post,ifelse(is.na(v_post),v_ant,(v_ant+v_post)/2)) ]
  tbl[ , nuevo_valor := ifelse(v_foto_mes %in% pmeses,promedio,v_orig)]

In [9]:
tbl

        numero_de_cliente v_ant v_post v_foto_mes v_orig promedio nuevo_valor
1       31115668             NA 179.0  201901      41.0  179.00    41.0
2       31115668           41.0 131.0  201902     179.0   86.00   179.0
3       31115668          179.0 103.0  201903     131.0  141.00   131.0
4       31115668          131.0 147.0  201904     103.0  139.00   103.0
5       31115668          103.0 112.0  201905     147.0  107.50   147.0
6       31115668          147.0 127.0  201906     112.0  137.00   112.0
7       31115668          112.0  42.0  201907     127.0   77.00   127.0
8       31115668          127.0 134.0  201908      42.0  130.50    42.0
9       31115668           42.0 172.0  201909     134.0  107.00   134.0
10      31115668          134.0 146.0  201910     172.0  140.00   172.0
11      31115668          172.0 241.0  201911     146.0  206.50   146.0
12      31115668          146.0  52.5  201912     241.0   99.25   241.0
13      31115668          241.0 156.0  202001      52.5  198.50    52.5
14      31115668           52.5  89.0  202002     156.0   70.75   156.0
15      31115668          156.0 184.0  202003      89.0  170.00    89.0
16      31115668           89.0  60.0  202004     184.0   74.50   184.0
17      31115668          184.0 132.0  202005      60.0  158.00    60.0
18      31115668           60.0  53.0  202006     132.0   56.50    56.5
19      31115668          132.0 264.0  202007      53.0  198.00    53.0
20      31115668           53.0 133.0  202008     264.0   93.00   264.0
21      31115668          264.0 147.0  202009     133.0  205.50   133.0
22      31115668          133.0   0.0  202010     147.0   66.50   147.0
23      31115668          147.0   6.0  202011       0.0   76.50     0.0
24      31115668            0.0  96.0  202012       6.0   48.00     6.0
25      31115668            6.0   7.0  202101      96.0    6.50    96.0
26      31115668           96.0 161.0  202102       7.0  128.50     7.0
27      31115668            7.0 127.0  202103     161.0   67.00   161.0
28      31115668          161.0  44.0  202104     127.0  102.50   127.0
29      31115668          127.0    NA  202105      44.0  127.00    44.0
30      31115678             NA 160.0  201901      49.0  160.00    49.0
⋮       ⋮                 ⋮     ⋮      ⋮          ⋮      ⋮        ⋮
4214357 213107752         NA    NA     202105      3     NA        3
4214358 213114572         NA    NA     202105      2     NA        2
4214359 213117434         NA    NA     202105      2     NA        2
4214360 213140598         NA    NA     202105      4     NA        4
4214361 213142522         NA    NA     202105      8     NA        8
4214362 213148079         NA    NA     202105      5     NA        5
4214363 213148799         NA    NA     202105      6     NA        6
4214364 213150201         NA    NA     202105     20     NA       20
4214365 213155570         NA    NA     202105      2     NA        2
4214366 213169753         NA    NA     202105      3     NA        3
4214367 213170789         NA    NA     202105      4     NA        4
4214368 213172279         NA    NA     202105      4     NA        4
4214369 213175773         NA    NA     202105      7     NA        7
4214370 213179760         NA    NA     202105      3     NA        3
4214371 213203813         NA    NA     202105      3     NA        3
4214372 213208303         NA    NA     202105      6     NA        6
4214373 213213218         NA    NA     202105      9     NA        9
4214374 213215745         NA    NA     202105      2     NA        2
4214375 213223157         NA    NA     202105      4     NA        4
4214376 213234112         NA    NA     202105     15     NA       15
4214377 213236274         NA    NA     202105      6     NA        6
4214378 213239550         NA    NA     202105      4     NA        4
4214379 213240547         NA    NA     202105      3     NA        3
4214380 213243538         NA    NA     202105      2     NA        2
4214381 213253950         NA    NA     202105      2     NA        2
4214382 213259882         NA    NA     202105      2     NA        2
4214383 213268725         NA    NA     202105      2     NA        2
4214384 213268755         NA    NA     202105      6     NA        6
4214385 213271755         NA    NA     202105      2     NA        2
4214386 213273561         NA    NA     202105      3     NA        3

In [10]:
dataset[numero_de_cliente==35293777, list(foto_mes,ctrx_quarter)]

   foto_mes ctrx_quarter
1  201901   139.0
2  201902   149.0
3  201903   384.0
4  201904   252.0
5  201905    51.0
6  201906    46.0
7  201907   119.0
8  201908    60.0
9  201909   110.0
10 201910   107.0
11 201911    59.0
12 201912   165.0
13 202001   133.0
14 202002   114.0
15 202003     6.0
16 202004   216.0
17 202005   146.0
18 202006   155.0
19 202007    75.0
20 202008    41.0
21 202009   213.0
22 202010   143.0
23 202011    14.0
24 202012   244.0
25 202101    96.0
26 202102   225.0
27 202103    67.0
28 202104     0.0
29 202105    30.5