In [1]:

#limpio la memoria
rm( list=ls() )  #remove all objects
gc()             #garbage collection


require("data.table")

       used    (Mb) gc trigger (Mb) max used (Mb)
Ncells  604544 32.3 1292120    69.1 1292120  69.1
Vcells 1086976  8.3 8388608    64.0 1632674  12.5

Loading required package: data.table

In [2]:
setwd("C:/_MCD/Labo1/code")  #Establezco el Working Directory

#cargo el dataset
dataset  <- fread("./datasets/competencia2_2022.csv.gz")   #donde entreno

In [3]:
nrow(dataset)

[1] 4214386

In [7]:
dataset <- dataset[foto_mes >= 202001]
dataset <- dataset[foto_mes!=202006]
dataset[,tmobile_app:=NULL]
dataset[,internet:=NULL]

nrow(dataset)
ncol(dataset)

Warning message in `[.data.table`(dataset, , `:=`(internet, NULL)):
"Column 'internet' does not exist to remove"

[1] 2498109

[1] 153

In [8]:
fwrite( dataset,
        file="./datasets/competencia2_2022_limpieza1.csv.gz",
        sep= "," )